{% liquid
  assign paddingTop = section.settings.padding_top
  assign paddingBottom = section.setting.padding_bottom
  assign heading = section.settings.heading
  assign colorScheme = section.settings.color_scheme
  assign headingSize = section.settings.heading_size
  assign products = section.settings.featured_product
%}

{% style %}
  @media screen and (min-width: 750px) {
    .padding--{{ section.id }} {
      padding-top: {{ paddingTop }}px;
      padding-bottom: {{ paddingBottom }}px;
    }
  }

  .padding--{{ section.id }} {
    padding-top: {{ paddingTop | divided_by:2 }}px;
    padding-bottom: {{ paddingBottom |  divided_by: 2 }}px;
  }
{% endstyle %}


<div class="custom-featured-collection padding--{{section.id}} color--{{colorScheme.id}}">
  <div class="page-width">
    <div class="{{headingSize}} title-wrapper">
      {{ heading }}
    </div>
    <div class="product-container grid grid--4-col-desktop">
      {% for product in products %}
        <div class="grid__item">
          {% render 'custom-product-card'
            , product: product
            , section_id: section.id %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Custom featured",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme"
      },
      {
        "type": "select",
        "id": "heading_size",
        "label": "Heading size",
        "default": "h1",
        "options": [
          {
            "label": "Small",
            "value": "h2"
          }, {
            "label": "Medium",
            "value": "h1"
          }, {
            "label": "Large",
            "value": "h0"
          }, {
            "label": "Extra large",
            "value": "hxl"
          }
        ]
      },
      {
        "type": "product_list",
        "id": "featured_product",
        "label": "Featured product"
      }, {
        "type": "select",
        "id": "featured_collection_style",
        "label": "Featured collection Style",
        "default": "grid",
        "options": [
          {
            "label": "Slider",
            "value": "slider"
          }, {
            "label": "Grid",
            "value": "grid"
          }
        ]
      }, {
        "type": "range",
        "id": "padding_top",
        "label": "Padding top",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0,
        "unit": "px"
      }, {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0,
        "unit": "px"
      }
    ],
    "presets": [
      {
        "name": "Custom featured"
      }
    ]
  }
{% endschema %}